
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
<h2>An error occurred while processing your request.</h2>

<p>Error has been reported to administrator.</p>

@Html.RouteLink("Back to hub", HubRouting.Index);

