
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul>
    <li>
        <a class="nav-link text-dark" asp-controller="Companies" asp-action="Index">Companies</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Facilities" asp-action="Index">Facilities</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Licenses" asp-action="Index">Licenses</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="ProductsCatalog" asp-action="Index">Products</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Recipes" asp-action="Index">Recipes</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Storages" asp-action="Index">Storages</a>
    </li>
    <li>
        <a class="nav-link text-dark" asp-controller="Transactions" asp-action="Index">Transactions</a>
    </li>
</ul>