@model License
@{
    ViewData["Title"] = "EditSingleItem";
    string saveRoute = (string)ViewData["SaveRoute"];
}
<h1>Licenses</h1>
@if (Model != null)
{
    <h2>Edit license №@Model.GovermentNum</h2>
}
else
{
    <h2>Add new license</h2>
}

<form asp-antiforgery="true" method="post" role="form">
    @Html.ValidationSummary()
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <input hidden asp-for="Id" type="number" name="Id" value="@Model?.Id">
    </div>
    <div class="form-group">
        <label for="ProductId">ProductId:*</label>
        <div>
            <input required asp-for="ProductId" type="number" name="ProductId" value="@Model?.ProductId">
        </div>
    </div>
    <div class="form-group">
        <label for="GovermentNum">GovermentNum:*</label>
        <div>
            <input required asp-for="GovermentNum" type="number" name="GovermentNum" value="@Model?.GovermentNum">
        </div>
    </div>
    <p>License expires at:*</p>@Html.EditorFor(model => model.Date)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input asp-route=@saveRoute type="submit" class="btn btn-default" value="Save" />
        </div>
    </div>
</form>
<p>Fields labeld with * are required</p>