@using Cursed.Models.Entities
@using Cursed.Models.DataModel.Utility
@using Cursed.Models.DataModel.Shared
@model Recipe
@{
    ViewData["Title"] = "AddChildSingleItem";
    int parentId = (int)ViewData["parentId"];
}

<h1>Add child of @parentId recipe.</h1>
<form asp-antiforgery="true" method="post" role="form">
    <div>
        <input hidden type="number" name="parentId" value="@parentId">
    </div>
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <input hidden asp-for="Id" type="number" name="Id" value="@Model.Id">
    </div>
    <div class="form-group">
        <label for="Content">Content:*</label>
        <div>
            <textarea cols="100" rows="20" required asp-for="Content" name="Content" value="@Model.Content"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input asp-route=@RecipesRouting.AddChildSingleItem type="submit" class="btn btn-default" value="Add" />
        </div>
    </div>
</form>
<p>Fields labeld with * are required</p>