@using Cursed.Models.DataModel.Utility
@model PagenationAbstract

<table align="right">
    <tr>
        <td>Items on page:</td>
    </tr>
    <tr>
        <td></td>
        @foreach (var item in new List<int> { 10, 20, 50, 100 })
        {
            if (item == Model.ItemsOnPage)
            {
                <td>@item</td>
            }
            else
            {
                <td>@Html.RouteLink($"{item}", ViewData["PagenationRouteLink"] as string, new { currentPage = 1, itemsOnPage = item })</td>
            }
        }
    </tr>
</table>
